<mat-card class="mat-elevation-z12">
    <!--<mat-card-title style="text-align:center;">Ingresar</mat-card-title>-->
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Ingresar">
          <mat-card-content>
            <form action="">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email"
                  required
                  name="email"
                  [(ngModel)]="email1"
                  ngModel
                  #email="ngModel">
                  <mat-error *ngIf="email.invalid || email.errors">Se requiere el correo</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  type={{typePassword}}
                  required
                  minlength="6"
                  name="password"
                  [(ngModel)]="password1"
                  ngModel
                  #password="ngModel"
                  (keyup.enter)="logIn('menu')">
                  <mat-error
                    *ngIf="password.errors && password.errors.required">
                    La contraseña es requerida.
                  </mat-error>
                  <mat-error
                    *ngIf="password.errors && password.errors.minlength">
                    La contraseña debe contener al menos 6 caracteres.
                  </mat-error>
                <mat-icon matSuffix (click)="changeIcon()">{{iconPassword}}</mat-icon>
              </mat-form-field>
              <button
                mat-raised-button
                mat-dialog-close="true"
                class="login-button"
                style="background: #22BB33; color: white;"
                (click)="logIn('menu')">
                Ingresar
              </button>

              <button
                mat-raised-button
                class="login-button"
                style="background: #3b5998; color: white;">
                Iniciar con Facebook
              </button>
            </form>
          </mat-card-content>
      </mat-tab>
      <mat-tab label="Registrarme">
        <mat-card-content>
          <form action="">
            <mat-form-field>
              <input
                matInput
                placeholder="Nombre"
                required
                name="name"
                [(ngModel)]="name1"
                ngModel
                #name="ngModel">
              <mat-error
                *ngIf="name.invalid">
                El nombre es requerido
              </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input
                  matInput
                  placeholder="Apellido/s"
                  required
                  name="lastName"
                  [(ngModel)]="lastName1"
                  ngModel
                  #lastName="ngModel">
                <mat-error
                  *ngIf="lastName.invalid">
                  El apellido es requerido
                </mat-error>
              </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                name="email"
                [(ngModel)]="email2"
                ngModel
                #email="ngModel">
                <mat-error *ngIf="email.invalid">Correo inválido</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type={{typePassword}}
                required
                minlength="6"
                name="password"
                [(ngModel)]="password2"
                ngModel
                #password="ngModel"
                (keyup.enter)="register('menu')">
                <mat-icon matSuffix (click)="changeIcon()">{{iconPassword}}</mat-icon>
                <mat-error
                  *ngIf="password.errors && password.errors.required">
                  Contraseña inválida
                </mat-error>
                <mat-error
                  *ngIf="password.errors && password.errors.minlength">
                  Contraseña ocupa un mínimo de 6 carácteres
                </mat-error>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              class="login-button"
              style="background: #22BB33; color: white;"
              (click)="register('menu')">
              Registrarme
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
</mat-card>
  
