.containerflex{
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}

.w3-display-container{
    height: 10%;
}

.w3-light-grey{
    margin-top: 3%;
}

.w3-text-black{
    color: #489e7d
}