<div class="body">
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <div class="w3-row">

            <!--Columna de la izquierda -->
            <div class="w3-col m3">
                <div class="w3-card w3-round w3-white">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container">
                         <h4 class="w3-center" style="color: #007b5e;">
                            MI PERFIL
                         </h4>
                         <p class="w3-center"><img src="https://image.flaticon.com/icons/svg/1177/1177568.svg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                         <hr>
                         <p><i class="fa fa-male fa-fw w3-margin-right w3-text-theme"></i> Jean Paul Barrit</p>
                         <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i>jpbr25@yahoo.com</p>
                         <p><i class="fa fa-eye-slash fa-fw w3-margin-right w3-text-theme"></i> *********</p>
                        </div>
                      </div>                    
                </div>
            <br>
            <!--Fin de la columna de izquierda-->
            </div>

            <div class="w3-col m7">
                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <mat-card style="border-style:outset; ">
                            <div>
                                <h3 style="color: #007b5e;">MATERIALES RECICLADOS</h3>
                            </div>
                            <div class="containerflex">
                                <div class="containerflex">
                                    <img style="width: 30px;" src="assets/imagenes/botella1.png">
                                </div>
                                <div class="containerflex">
                                    <h3>Plástico</h3>
                                </div>
                                <div class="containerflex">
                                    <h3>0 kg</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="containerflex">
                                <div class="containerflex">
                                    <img style="width: 30px;" src="assets/imagenes/papel1.png">
                                </div>
                                <div class="containerflex">
                                    <h3>Papel</h3>
                                </div>
                                <div class="containerflex">
                                    <h3>0 kg</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="containerflex">
                                <div class="containerflex">
                                    <img style="width: 30px;" src="assets/imagenes/lata1.png">
                                </div>
                                <div class="containerflex">
                                    <h3>Aluminio</h3>
                                </div>
                                <div class="containerflex">
                                    <h3>0 kg</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="containerflex">
                                <div class="containerflex">
                                    <img style="width: 30px;" src="assets/imagenes/vidrio1.png">
                                </div>
                                <div class="containerflex">
                                    <h3>Vidrio</h3>
                                </div>
                                <div class="containerflex">
                                    <h3>0 kg</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="containerflex">
                                <div class="containerflex">
                                    <img style="width: 30px;" src="assets/imagenes/tetra1.png">
                                </div>
                                <div class="containerflex">
                                    <h3>Tetra pack</h3>
                                </div>
                                <div class="containerflex">
                                    <h3>0 kg</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="containerflex">
                                <div class="containerflex">
                                    <img style="width: 30px;" src="assets/imagenes/bateria1.png">
                                </div>
                                <div class="containerflex">
                                    <h3>Batería</h3>
                                </div>
                                <div class="containerflex">
                                    <h3>0 kg</h3>
                                </div>
                            </div>
                            <hr>
                        </mat-card>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>
