<body class="w3-light-grey">
    <!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">
    
      <!-- Left Column -->
      <div class="w3-third">
      
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="https://firebasestorage.googleapis.com/v0/b/ecoworld-5502f.appspot.com/o/imagenes%2F28698902_1834989749866795_4321561433880265847_o.jpg?alt=media&token=e36db01e-b064-48bd-98a9-5b03f68842cb" style="width:100%;" alt="Avatar">
            <div class="w3-display-bottomleft w3-container">
              <h2 style="color:white">Jane Doe</h2>
            </div>
          </div>
          <br>
          <div class="w3-container" style="margin: 0 auto;" *ngFor="let i of fills">
              <mat-form-field class="example-full-width">
                <mat-label>{{i.label}}</mat-label>
                <input [(ngModel)]="i.value" matInput>
              </mat-form-field>
          </div>
        </div><br>
  
      <!-- End Left Column -->
      </div>
  
      <!-- Right Column -->
      <div class="w3-twothird">
      
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Materiales reciclados</h2>
          <div *ngFor="let j of materials">
            <div class="containerflex">
                <div class="containerflex">
                    <img style="width: 30px;" src={{j.img}}>
                </div>
                <div class="containerflex">
                    <h3><strong>{{j.label}}</strong></h3>
                </div>
                <div class="containerflex">
                    <h3> <strong>{{j.value}}</strong></h3>
                </div>
            </div>
            <hr>
          </div>
        </div>
            <!-- End Right Column -->
            </div>
      
        <!-- End Grid -->
        </div>
    
        <!-- End Page Container -->
    </div>
</body>