<body class="w3-light-grey">
    <!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">
    
      <!-- Left Column -->
      <div class="w3-third">
      
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src={{image}} style="width:100%;" alt="Avatar">
            <div class="w3-display-bottomleft w3-container">
              <label for="file-upload" class="custom-file-upload">
                <i class="fa fa-upload fa-2x"></i>
              </label>
              <input id="file-upload" type="file" accept="image/*" (change)="showPreviewImage($event)"/>
            </div>
          </div>
          <br>
          <div class="w3-container col-8" style="margin: 0 auto;" *ngFor="let i of fills">
            <mat-form-field class="example-full-width">
              <mat-label>{{i.label}}</mat-label>
              <input [(ngModel)]="i.value" matInput [disabled]="i.disable" type={{i.type}}>
              <mat-icon *ngIf="i.icon" matSuffix (click)="changeIcon()">{{iconPassword}}</mat-icon>
            </mat-form-field>
          </div>
          <div class="w3-container col-8" style="margin: 0 auto;">
            <button mat-raised-button (click)="updateData()" [disabled]="buttonDisabled">Actualizar</button>
          </div>
          <br>
        </div>
        <br>
      <!-- End Left Column -->
      </div>
  
      <!-- Right Column -->
      <div class="w3-twothird">
      
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Materiales reciclados</h2>
          <div *ngFor="let j of materials">
            <div class="containerflex">
                <div class="containerflex">
                    <img style="width: 30px;" src={{j.img}}>
                </div>
                <div class="containerflex">
                    <h3><strong>{{j.label}}</strong></h3>
                </div>
                <div class="containerflex">
                    <h3> <strong>{{j.value}} kg</strong></h3>
                </div>
            </div>
            <hr>
          </div>
        </div>
            <!-- End Right Column -->
            </div>
      
        <!-- End Grid -->
        </div>
    
        <!-- End Page Container -->
    </div>
</body>