<div class="body">
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <div class="w3-row">

            <!--Columna de la izquierda -->
            <div class="w3-col m3">
                <div class="w3-card w3-round w3-white">
          
                </div>
            <br>
            <!--Fin de la columna de izquierda-->
            </div>
            
            <div class="w3-col m7">
                <div class="w3-row-padding">
                  <!--Cuadro de la tabla-->
                  <div *ngIf="tabla" class="w3-col m12">
                    <button (click)="openAdd()"mat-raised-button color="primary">Crear nuevo centro</button>
                    <hr>
                    <table class="table table-hover">
                      <thead class="tableHeader">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Ubicación</th>
                          <th scope="col">Teléfono</th>
                          <th scope="col">Horario</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let data of centers; let j = index">
                        <tr (click)="loadDataCenter(j)" class="clickInCenter" matTooltip="Click para ver más información">
                          <th scope="row">{{j+1}}</th>
                          <td>{{data.lugar}}</td>
                          <td>{{data.telefono}}</td>
                          <td>{{data.horario}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--Cuadro de detalle de un centro-->
                    <div *ngIf="mostrar" class="w3-col m12">
                      <button (click)="openTable()" mat-raised-button color="primary">Volver</button>
                        <mat-card class="principalCard">
                            <mat-tab-group>      
                                <!--Pestaña actualizar-->
                                <mat-tab label="Información del centro">
                                  <div class="card text-center">
                                    <div class="card text-center">
                                      <div class="card-body">
                                        <mat-form-field class="example-full-width">
                                          <mat-label>Lugar</mat-label>
                                          <input [(ngModel)]="place" (click)="openVerticallyCentered(content)" matInput type="text" readonly>
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                          <mat-label>Horario</mat-label>
                                          <input [(ngModel)]="schedule" matInput placeholder="Por ejemplo: Lunes a viernes 10:00 - 15:00" type="text">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                          <mat-label>Número de teléfono</mat-label>
                                          <input [(ngModel)]="phone" matInput placeholder="Por ejemplo: 27580000" type="tel">
                                        </mat-form-field>
                                        <mat-card-subtitle class="ion-text-center"> <strong>Materiales permitidos</strong> </mat-card-subtitle>
                                        <div class="containerflex">
                                          <div class="containerflex" *ngFor="let data of imagenes; let j = index">
                                            <img class="focus" matTooltip="{{data.material}}" src="{{data.a}}" (click)="checkImages(j)">
                                          </div>
                                        </div>
                                      <br>
                                      <div class="containerflex">
                                        <div class="containerflex">
                                          <a><button (click)="deleteCenter()" mat-raised-button color="warn">Borrar centro</button></a>
                                        </div>
                                        <div class="containerflex">
                                          <a><button (click)="addCenter()" mat-raised-button style="background: #32be8f; color: white;">Actualizar centro</button></a>
                                        </div>
                                      </div>
                                      </div>
                                    </div>
                                  </div>
                                </mat-tab>
                                <!--Pestaña recibir material-->
                                <mat-tab label="Recibir material">
                                  <div class="card text-center">
                                    <div class="card text-center">
                                      <div class="card-body">
                                        <div class="containerSearch">
                                          <div class="input-group">
                                            <input [(ngModel)]="user" type="text" class="form-control" placeholder="Ingrese el correo" (ngModelChange)="modelChange($event)" >
                                            <div class="input-group-append">
                                              <button class="btn btn-secondary" type="button">
                                                <i class="fa fa-search"></i>
                                              </button>
                                            </div>
                                          </div>
                                        </div>
                                        <div *ngIf="notFound">
                                          <img style="width: 35px; margin-top: 2%;" src="https://raw.githubusercontent.com/JPaulBR/EcoWorld/68fe26c9a15f2c9396f51c5a1c3fa8f1e05b71f3/src/assets/images/frown.svg">
                                          <h6>No encontrado</h6>
                                        </div>
                                        <div *ngIf="found">
                                          <mat-card style="margin-top: 2%;">
                                            <mat-card-header>
                                              <div mat-card-avatar id="example-header-image" style="background-image: url({{userData.urlFoto}});"></div>
                                              <mat-card-subtitle><strong>Usuario</strong> </mat-card-subtitle>
                                              <mat-card-subtitle>{{userData.nombre}} {{userData.apellido}}</mat-card-subtitle>
                                            </mat-card-header>
                                            <mat-card-subtitle class="ion-text-center"> <strong style="color: #32be8f;">Añadir puntos</strong> </mat-card-subtitle>
                                            <mat-form-field class="example-full-width">
                                              <mat-label>Plástico</mat-label>
                                              <input [(ngModel)]="plastic" matInput placeholder="0 kg" type="number">
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                              <mat-label>Aluminio</mat-label>
                                              <input [(ngModel)]="alumn" matInput placeholder="0 kg" type="number">
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                              <mat-label>Papel</mat-label>
                                              <input [(ngModel)]="paper" matInput placeholder="0 kg" type="number">
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                              <mat-label>Tetra pack</mat-label>
                                              <input [(ngModel)]="tetra" matInput placeholder="0 kg" type="number">
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                              <mat-label>Vidrio</mat-label>
                                              <input [(ngModel)]="glass" matInput placeholder="0 kg" type="number">
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                              <mat-label>Batería</mat-label>
                                              <input [(ngModel)]="batery" matInput placeholder="0 kg" type="number">
                                            </mat-form-field>
                                            <button (click)= "update()"mat-button style="background: #32be8f; color: white;">Aceptar</button>
                                          </mat-card>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </mat-tab>
                              </mat-tab-group>
                            <!---->
                        </mat-card>
                    </div>
                    <!--Fin de la línea-->
                    <!--Cuadro de agregar-->
                    <div *ngIf="agregar" class="w3-col m12">
                      <button (click) ="openTable()" mat-raised-button color="primary">Cancelar</button>
                      <hr>
                      <div class="card text-center">
                        <div class="card text-center">
                          <div class="card-body">
                            <mat-form-field class="example-full-width">
                              <mat-label>Lugar</mat-label>
                              <input [(ngModel)]="place" (click)="openVerticallyCentered(content)" matInput type="text" readonly>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                              <mat-label>Horario</mat-label>
                              <input [(ngModel)]="schedule" matInput placeholder="Por ejemplo: Lunes a viernes 10:00 - 15:00" type="text">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                              <mat-label>Número de teléfono</mat-label>
                              <input [(ngModel)]="phone" matInput placeholder="Por ejemplo: 27580000" type="tel">
                            </mat-form-field>
                            <mat-card-subtitle class="ion-text-center"> <strong>Materiales permitidos</strong> </mat-card-subtitle>
                            <div class="containerflex" >
                              <div class="containerflex" *ngFor="let data of imagenes; let j = index">
                                <img class="focus" matTooltip="{{data.material}}" src="{{data.a}}" (click)="checkImages(j)">
                              </div>
                            </div>
                            <br>
                            <button (click)="addCenter()" mat-button style="background: #32be8f; color: white;">Agregar centro</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--Fin de la línea-->
                    <!--Cuadro de permiso-->
                    <div *ngIf="permiso" class="w3-col m12">
                      <mat-card style="cursor: pointer;" (click)="openDialog()">
                        <mat-card-header style="justify-content: center;">
                          <mat-card-title>Información</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://i.ibb.co/f4TDnT8/permisson.png" alt="Foto acerca del permiso">
                        <mat-card-content>
                          <p>
                            Para acceder a esta sección del programa debe de tener permisos, si lo desea, no dude en contactarnos.
                          </p>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <!--Fin de la línea-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--This is for the modal form-->
<ng-template #content let-modal>
  <div class="modal-body" id="sizeMap">
    <div id="map1"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="savePlace()">Guardar</button>
  </div>
</ng-template>