.body{
    height: 100%;
    width: 100%;
}

.containerflex{
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}

.example-header-image {
    background-image: url('https://img.icons8.com/plasticine/2x/user.png');
    background-size: cover;
  }

  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #32be8f;                     
}

.containerSearch{
    width: 60%;
    margin: 0 auto;
}

.example-full-width {
    width: 100%;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #32be8f !important;
  }

.mat-focused .mat-form-field-label {
    color: #32be8f !important;
}

.principalCard{
    background-color: rgba(240,240,240,0.2);
    margin-top: 2%;
}

.tableHeader{
    background: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    color:white;
}

.focus{
    width: 30px;
    cursor: pointer;
}

.clickInCenter{
    cursor: pointer;
}

.centerDialog .mat-dialog-container{
    margin: 0 auto;
    display: block;
    margin-left: 15%;
}

@media only screen and (max-width: 700px){
    .containerSearch{
        width: 80%;
    }
    .centerDialog .mat-dialog-container{
        margin-left: 0%;
        width: 70%;
        height: 65%;
    }
    #sizeMap{
        width: 400px;
    }
}

#sizeMap{
    height: 350px;
    width: 495px;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }

#map1{
    bottom: 0;
    height: 100%;
    width: 100%;
}