.body{
    width: 100%;
    height: 100%;
}

.containerflex{
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}

.centrar{
    margin: 0 auto;
}

.color-snackbar {
    background: red;
    background-color: red;
}

#map1{
    position: absolute;
    top: 5%;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .col-sm-6 {
      padding-top: 5%;
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }

#pointer{
    cursor: pointer;
}

.imgInfo{
    width: 20px;
    float: right;
    cursor: pointer;
}


.modal-body{
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),url('https://firebasestorage.googleapis.com/v0/b/ecoworld-5502f.appspot.com/o/imagenes%2FimageSend.svg?alt=media&token=86777d95-e7a3-4105-b8e6-94871e7edbf9');
    background-repeat: no-repeat;
    background-size: 255px 120px;
    background-position: center;
}

.containerflex{
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #32be8f !important;
  }

.mat-focused .mat-form-field-label {
    color: #32be8f !important;
}