<div class="body">
    <div id="map1"></div>    
    <div *ngIf="showBox" class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <div class="w3-row">

            <!--Columna de la izquierda -->
            <div class="w3-col m3">
                <div class="w3-card w3-round w3-white">
                    
                </div>
            <br>
            <!--Fin de la columna de izquierda-->
            </div>

            <div class="w3-col m7">
                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <mat-card>
                            <div class="row">
                                <div class="col-8">
                                    <h4> <strong> Seleccione los materiales a enviar</strong> </h4>
                                </div>
                                <div class="col-4">
                                    <img (click)="openVerticallyCentered(content,true)" class="imgInfo" src="assets/imagenes/info.png" matTooltip="Tarifas de envíos">
                                </div>
                            </div>
                            <div class="containerflex" >
                                <div class="containerflex" id="pointer" *ngFor="let data of imagenes; let j = index">
                                  <img style="width: 30px;" matTooltip="{{data.material}}" src="{{data.a}}" (click)="checkImages(j)">
                                </div>
                            </div>
                            <hr>
                            <h4> <strong> Seleccione el método de pago</strong> </h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card" id="cash" style="background-color: rgba(0,0,0,0.1); cursor: pointer;" (click)="pay()">
                                        <div class="centrar">
                                            <img src="https://image.flaticon.com/icons/svg/2916/2916115.svg" style="width: 80px;">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="col-sm-6">
                                    <div class="card" id="credit" style="background-color: rgba(0,0,0,0.1); cursor: pointer;" (click)="pay2(content,false)">
                                        <div class="centrar">
                                            <img src="https://image.flaticon.com/icons/svg/564/564612.svg" style="width: 80px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <hr>
                            <div style="text-align:center">
                                <button mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading" (click)="save()">Continuar</button>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>
<!--This is for the modal form-->
<ng-template #content let-modal>
    <div *ngIf="info">
        <div class="modal-header">
            <h4 class="modal-title">Información de los precios</h4>
        </div>
        <div class="modal-body">
            <div class="containerflex">
                <div class="containerflex">
                    <img style="width: 30px;" src="assets/imagenes/tarifaBase.png">
                </div>
                <div class="containerflex">
                    <h3> <strong>Tarifa base</strong></h3>
                </div>
                <div class="containerflex">
                    <h3 style="color: green;"> <strong>1.5 $</strong></h3>
                </div>
            </div>
            <div class="containerflex">
                <div class="containerflex">
                    <img style="width: 30px;" src="assets/imagenes/tour.png">
                </div>
                <div class="containerflex">
                    <h3> <strong>Costo por km</strong></h3>
                </div>
                <div class="containerflex">
                    <h3 style="color: green;"> <strong>0.6 $</strong></h3>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="modal.close('Close click')" >Entendido</button>
        </div>
    </div>
    <div *ngIf="!info">
        <div class="modal-header">
            <h5 class="modal-title" style="color: black;"><strong>*El pago se realizará cuando llegue el transportista</strong></h5>
        </div>
        <div class="modal-body" style="background-image: none;">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre completo</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Número de la tarjeta</mat-label>
                    <input matInput type="number" #message maxlength="16">
                    <mat-hint align="end">{{message.value.length}} / 16</mat-hint>
                </mat-form-field>
                <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <mat-form-field class="example-full-width">
                            <mat-label>Mes de exp</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                      </div>
                      <div class="col-sm">
                        <mat-form-field class="example-full-width">
                            <mat-label>Año de exp</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                      </div>
                      <div class="col-sm">
                        <mat-form-field class="example-full-width">
                            <mat-label>CVV</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>    
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close('Close click')" >Continuar</button>
        </div>
    </div>
</ng-template>