<div class="body">
    <div id="map1"></div>    
    <div *ngIf="showBox" class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <div class="w3-row">

            <!--Columna de la izquierda -->
            <div class="w3-col m3">
                <div class="w3-card w3-round w3-white">
                    
                </div>
            <br>
            <!--Fin de la columna de izquierda-->
            </div>

            <div class="w3-col m7">
                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <mat-card>
                            <h4> <strong> Seleccione los materiales a enviar</strong> </h4>
                            <div class="containerflex">
                                <div class="containerflex" id="pointer">
                                  <img style="width: 30px;" src="{{imagenes[0]['a']}}" (click)="checkImages(0)">
                                </div>
                                <div class="containerflex" id="pointer">
                                  <img style="width: 27px;" src="{{imagenes[1]['a']}}" (click)="checkImages(1)">
                                </div>
                                <div class="containerflex" id="pointer">
                                  <img style="width: 30px;" src="{{imagenes[2]['a']}}" (click)="checkImages(2)">
                                </div>
                                <div class="containerflex" id="pointer">
                                  <img style="width: 27px;" src="{{imagenes[3]['a']}}" (click)="checkImages(3)">
                                </div>
                                <div class="containerflex" id="pointer">
                                  <img style="width: 30px;" src="{{imagenes[4]['a']}}" (click)="checkImages(4)">
                                </div>
                                <div class="containerflex" id="pointer">
                                  <img style="width: 27px;" src="{{imagenes[5]['a']}}" (click)="checkImages(5)">
                                </div>
                            </div>
                            <hr>
                            <h4> <strong> Seleccione el método de pago</strong> </h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card" id="cash" style="background-color: rgba(0,0,0,0.1); cursor: pointer;" (click)="pay()">
                                        <div class="centrar">
                                            <img src="https://image.flaticon.com/icons/svg/2916/2916115.svg" style="width: 80px;">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="col-sm-6">
                                    <div class="card" style="background-color: rgba(0,0,0,0.1); cursor: pointer;" (click)="openSnackBar('No disponible','')">
                                        <div class="centrar">
                                            <img src="https://image.flaticon.com/icons/svg/564/564612.svg" style="width: 80px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <hr>
                            <div style="text-align:center">
                                <button mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading" (click)="save()">Continuar</button>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>