<body id="myPage">
    <!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
    <h2>Nuestro equipo</h2>
    <div class="w3-row"><br>
    
    <div class="w3-quarter">
      <img src="https://www.flaticon.com/premium-icon/icons/svg/3101/3101657.svg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Jean Paul Barrit</h3>
      <p>Desarrollador - Diseñador web</p>
    </div>
    
    <div class="w3-quarter">
      <img src="https://icons-for-free.com/iconfiles/png/512/business+costume+male+man+office+user+icon-1320196264882354682.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Gabriel Quesada</h3>
      <p>Soporte - Tester</p>
    </div>
    
    <div class="w3-quarter">
      <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Sofía Flores</h3>
      <p>Desarrolladora - Fixer</p>
    </div>
    
    <div class="w3-quarter">
      <img src="https://image.flaticon.com/icons/svg/2922/2922524.svg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Tecnológico de Costa Rica</h3>
      <p>Jefe</p>
    </div>
    
    </div>
    </div>

    <!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
    <div class="w3-row">
      <div class="w3-col m5">
      <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contactanos!</span></div>
        <h3>Dirección</h3>
        <p>Su opinión es muy importante para nosotros, nos ayuda a mejorar.</p>
        <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Cartago, CR</p>
        <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +506 27580236</p>
        <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  ecoworld@eco.com</p>
      </div>
      <div class="w3-col m7">
        <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
        <div class="w3-section">      
          <label>Name</label>
          <input class="w3-input" type="text" name="Name" required>
        </div>
        <div class="w3-section">      
          <label>Email</label>
          <input class="w3-input" type="text" name="Email" required>
        </div>
        <div class="w3-section">      
          <label>Message</label>
          <input class="w3-input" type="text" name="Message" required>
        </div>
        <button type="submit" class="w3-button w3-right w3-theme">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</body>
