h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

.example-header-image {
    background-image: url('https://image.flaticon.com/icons/svg/1177/1177568.svg');
    background-size: cover;
  }

.fondo{
  background: #38d39f;
  color: white;
}