<div class="w3-top">
    <div class="w3-bar w3-card fondo" id="myNavbar">
      <a class="w3-bar-item w3-button w3-wide" (click)="openPage('menu')">EcoWorld</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a  class="w3-bar-item w3-button" (click)="openPage('campañas')">Campañas</a>
        <a  class="w3-bar-item w3-button" (click)="openPage('centros')"><i ></i>Mis centros</a>
        <a  class="w3-bar-item w3-button" (click)="openPage('envíos')"><i ></i>Enviar material</a>
        <a  class="w3-bar-item w3-button" (click)="openPage('top')"><i ></i>Top</a>
        <a  class="w3-bar-item w3-button" (click)="openPage('perfil')"><i ></i>Perfil</a>
        <a  class="w3-bar-item w3-button" (click)="openPage('about')"><i ></i>Acerca de</a>
        <a  class="w3-bar-item w3-button" (click)="openPage('inicio')"><i ></i>Salir</a>
        
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
  
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" (click)="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="w3-sidebar w3-bar-block fondo w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" (click)="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">X</a>
    <a href="#about" (click)="w3_close()" class="w3-bar-item w3-button">Campañas</a>
    <a href="#team" (click)="w3_close()" class="w3-bar-item w3-button">Mis centros</a>
    <a href="#work" (click)="w3_close()" class="w3-bar-item w3-button">Enviar material</a>
    <a href="#pricing" (click)="w3_close()" class="w3-bar-item w3-button">Top</a>
    <a href="#contact" (click)="w3_close()" class="w3-bar-item w3-button">Perfil</a>
    <a href="#contact" (click)="w3_close()" class="w3-bar-item w3-button">Acerca de</a>
    <a href="#" class="w3-bar-item w3-button"><i></i>Salir</a>
  </nav>
</div>
