<!-- Navbar (sit on top) -->
<div class="body">
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:60px">
    <div class="w3-row">
      <!--Columna de la izquierda -->
      <div class="w3-col m3">
        <div class="w3-card w3-round w3-white">
          
        </div>
        <br>
       <!--Fin de la columna de izquierda-->
      </div>

      <!-- Columna del centro -->
      <div class="w3-col m7">
        <div class="w3-row-padding">
          <div class="w3-col m12">
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
            <br>
            <div class="w3-card w3-round w3-white">
              Agregar contenido noticias
            </div>
            <br>
          </div>
        </div>
      <!--Fin de la columna del centro-->
      </div>
      <div class="w3-col m2">
        <div class="w3-card w3-round w3-white w3-center">
          
        </div>
        <br>
      </div>
    </div>
  </div>
</div>