<!-- Navbar (sit on top) -->
<div class="body">
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:60px">
    <div class="w3-row">
      <!--Columna de la izquierda -->
      <div class="w3-col m3">
        <div class="w3-card w3-round w3-white">
          
        </div>
        <br>
       <!--Fin de la columna de izquierda-->
      </div>

      <!-- Columna del centro -->
      <div class="w3-col m7">
        <div class="w3-row-padding">
          <div class="w3-col m12">
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Obras urgentes para la gestión de basuras</mat-card-title>
                <mat-card-subtitle>19 Abril, 2020</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://ep01.epimg.net/elpais/imagenes/2020/04/14/actualidad/1586869632_045453_1586870793_noticia_normal_recorte1.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  El excesivo uso de vertederos demuestra la imperiosa necesidad de invertir en tratamiento y reciclaje
                </p>
              </mat-card-content>
            </mat-card>
            <br>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Las infinitas vidas del odiado plástico.</mat-card-title>
                <mat-card-subtitle>6 Enero, 2020</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://ep01.epimg.net/economia/imagenes/2019/12/30/actualidad/1577724949_846465_1577725044_noticia_normal.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  Relevo produce bolsas de basura a partir de material reciclado y factura cerca de tres millones de euros
                </p>
              </mat-card-content>
            </mat-card>
            <br>
          </div>
        </div>
      <!--Fin de la columna del centro-->
      </div>
      <div class="w3-col m2">
        <div class="w3-card w3-round w3-white w3-center">
          
        </div>
        <br>
      </div>
    </div>
  </div>
</div>